jenkins:
  systemMessage: "Auto-configured Jenkins (Terraform + Ansible + JCasC)"
  numExecutors: 2

  securityRealm:
    local:
      users:
        - id: "admin"
          password: "${JENKINS_ADMIN_PASSWORD}"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              scope: GLOBAL
              id: "github-token"
              secret: "${GITHUB_TOKEN}"
              description: "GitHub PAT for Jenkins"

jobs:
  - script: >
      pipelineJob('angular-docker-deploy') {
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('${GITHUB_REPO_URL}')
                  credentials('github-token')
                }
                branches('*/main')
              }
            }
            scriptPath('Jenkinsfile')
          }
        }
        triggers {
          githubPush()
        }
      }
